{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div style="margin-bottom: 40px;"><br></div>

<h1 class="page-title">Student Login</h1>
<div class="form-container">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(style="padding: 12px 15px;") }}
          {% if form.email.errors %}
              <small>{{ form.email.errors[0] }}</small>
          {% endif %}
      </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(style="padding: 12px 15px;") }}
            {% if form.password.errors %}
                <small>{{ form.password.errors[0] }}</small>
            {% endif %}
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn submit-btn mt-4" type="submit">Login</button>
        </div>    </form>
        
    <div class="register-link">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
</div>

<div style="margin-bottom: 40px;"><br></div>


{% endblock %}